.page {
	@media (min-width:$screen-sm) {
		min-height:100%;
		height:auto;
		margin: 0 auto (- ($footer-height + $footer-top-margin + $footer-vert-padding + $footer-vert-padding));
		padding: 0 0 $footer-height + $footer-top-margin + $footer-vert-padding + $footer-vert-padding;
	}
	.container-bs:first-of-type {padding-top:80px}
}
