//--- Brand Colors
$primary-color:         #549CCC;
$secondary-color:       #8CB56B;

$gray-base:             #000 !default;
$gray-darker:           lighten($gray-base, 13.5%) !default; // #222
$gray-dark:             lighten($gray-base, 20%) !default;   // #333
$gray:                  lighten($gray-base, 33.5%) !default; // #555
$gray-light:            lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:          lighten($gray-base, 93.5%) !default; // #eee

$brand-text-dark:       black;
$brand-text-light:      white;

$text-color:            $gray-dark !default;

//--- Footer Styles
$footer-bg:             #5D656C;
$footer-color:          rgba(white,0.8);
$footer-border:         transparent;
$footer-top-margin:     40px;
$footer-vert-padding:   20px;
$footer-height:         20px;


//--- Grid layout settings
// http://bourbon.io/docs/#flex-grid
$fg-column:             60px;  // Column Width
$fg-gutter:             25px;  // Gutter Width
$fg-max-columns:        12;    // Total Columns For Main Container


//--- Breakpoints
$screen-xs:             480px !default;
$screen-sm:             768px !default;
$screen-md:             992px !default;
$screen-lg:             1200px !default;


